body{
    margin: 0;
    padding: 0;
    display: flex;
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    justify-content: center;
    background: rgba(35, 28, 73, 1);
}
.container{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .box{
    position: relative;
    background: rgba(158, 227, 248, 1);
    width: 200px;
    height: 200px;
    margin: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.container .box2{
    position: relative;
    background: rgba(249, 227, 157, 1);
    width: 200px;
    height: 200px;
    margin: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
#image-container {
    width: 60px;
    position: absolute;
}
#image-container img{
   width: 100%;
   display: block;
   position: absolute;
}


#msg {
  
    width: 500px;
    height: 200px;
  }
  
  #object {
    margin: 0;
    padding: 0.5em;
    border: solid 0.5em #FF0000; 
    background: #000;
    animation-name: revolve;
    animation-duration: 2s;
    animation-iteration-count: infinite
  }
  
  @keyframes revolve {
    0% {transform : rotate(20deg);}
    10% {transform : rotate(30deg);}
    20% {transform : rotate(40deg);}
    30% {transform : rotate(50deg);}
    40% {transform : rotate(70deg);}
    50% {transform : rotate(100deg);}
    70% {transform : rotate(140deg);}
    100% {transform : rotate(360deg);}
  }