@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900;&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background: #ffff;
}
.card {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0px;
}
.card-image{
    max-width: 65%;
    height: 20%;
}
.card-image2{
    max-width: 110%;
    height: 110%;
    margin: 60px;
    top: 50px;
}
.card-image3{
    max-width: 110%;
    height: 110%;
    margin: 60px;
    align right: 10px;
}