@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900;&display=swap');
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.parent-1{
    height: 20vh;
    border: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.child-1 img{
    padding: 0px;
    width: 200px;
}
.parent{
    height: 100vh;
    border: 20px;
    display: flex;
    overflow: visible;
    align-content: flex-start;
}
.child1 img{
    padding: 40px;
    width: 280px;
}
.child2 img{
    padding: -10px;
    width: 280px;
    align-self: center;
}
.btn{
    position: absolute;
    top: 15px;
    right: 45px;
    height: 45px;
    width: 45px;
    background: black;
}
.btn span{
    background: white;
    font-size: 28px;
    line height: 45px;
}
.sidebar{
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
}
nav ul{
    background: rgb(253, 234, 0);
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 60px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
}